<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--  name:别名  -->
    <bean id="bookService" name="service service2 lotushintService" class="com.lotushint.service.impl.BookServiceImpl">
        <!--  name:属性名    ref:参照 id 和 name  -->
        <property name="bookDao" ref="bookDao"/>
    </bean>
    <bean id="bookDao" class="com.lotushint.dao.impl.BookDaoImpl"/>
</beans>