<component name="ArtifactManager">
  <artifact type="exploded-war" name="Mybatis6_ssm:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Mybatis6_ssm_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Mybatis6_ssm" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-5.2.3.RELEASE" />
          <element id="library" level="project" name="Spring MVC-5.2.3.RELEASE" />
          <element id="library" level="project" name="Spring Integration-5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.5.7" />
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.17" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:8.0.27" />
          <element id="library" level="project" name="Maven: com.google.protobuf:protobuf-java:3.11.4" />
          <element id="library" level="project" name="Maven: com.alibaba:druid:1.2.8" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis-spring:1.3.1" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="Mybatis6_ssm/web/Web" />
    </root>
  </artifact>
</component>