<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="bookDao" class="com.lotushint.dao.impl.BookDaoImpl"/>
    <bean id="userDao" class="com.lotushint.dao.impl.UserDaoImpl"/>

    <!--  自动注入要有 setter 方法  -->
    <bean id="bookService" class="com.lotushint.service.impl.BookServiceImpl" autowire="byType"/>
</beans>